# MongoDB
MONGODB_URI= "aca va tu uri de mongo"
# JWT
JWT_SECRET=secretito
NEXTAUTH_SECRET= secretitox2
GOOGLE_CLIENT_ID="aca va tu client id de google"
GOOGLE_CLIENT_SECRET="aca va tu client secret de google"


# Puerto del servidor
PORT=3002
FRONTEND_URL="http://localhost:3000"

#   OPENAI_API_KEY="sk-svcacct-GEm_IHWYaIwIA5oZn4XXONpeiLvvAyAaikrKuLmWQ_VGtHyobKCgGIk11mY3YMGG0dYioKhauT3BlbkFJ8ozRoKVeqRb06p2bZ3FFMpbIxPKkuglhjUfAoUr3iIzjxdrtwh3FdibyuJ2AftF2zgZKQ5cVcA"
# OPENAI_MODEL=gpt-4o
OPENROUTER_API_KEY="sk-or-v1-c2144b85002dbe4a213d14522345545d4860b771c13323f80e5b33d0f62a9ba896"
OPENROUTER_MODEL=openrouter/meta-llama/llama-3-70b-instruct