# MongoDB
MONGODB_URI= "aca va tu uri de mongo"
# JWT
JWT_SECRET=secretito

# Puerto del servidor
PORT=3002
FRONTEND_URL="http://localhost:3001"

OPENROUTER_API_KEY="aca va tu openrouter api key"
OPENROUTER_MODEL="aca va tu openrouter model"